# This file managed by Ansible. Changes will be overwritten.

# This file is sourced by /etc/init.d/rabbitmq-server. Its primary
# reason for existing is to allow adjustment of system limits for the
# rabbitmq-server process.
#
{% if rabbitmq_open_file_limit %}
ulimit -n {{ rabbitmq_open_file_limit }}
{% endif %}
